<a href="https://colab.research.google.com/github/cristianosps/Introducao_Ciencia_de_Dados/blob/master/Interpretacao_Estatistica_NBA_1996_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---

#**CESAR School - Especialização em Análise e Engenharia de Dados**

##**Projeto de Avaliação para Disciplina "Introdução à Análise de Dados"**

###Professor: Luciano Barbosa
###Monitor: Johny Moreira


---

##**Olá...**

Neste projeto iremos realizar a leitura de uma determinada base de dados e faremos a interpretação das informações através das técnicas de extração de dados apresentadas durante a disciplina de "Introdução à Análise de Dados".

.

Nesta base de dados estão contidas informações relecionadas a estatística e aproveitamento de cada jogador da NBA, para cada temporada que disputou entre os anos de 1996 e 2018. 

Por este conjunto de dados podemos obter de cada jogador que passou pela NBA, entre os anos de 1996 e 2018, informações pessoais (Idade, País de origem, Faculdade...), porte físico (Altura, peso...), Times/ Franquias que defendeu enquanto esteve na NBA e seu aproveitamento para cada temporada que disputou da liga.

.

ATENÇÃO: Na descrição da base de dados em sua origem, conforme fonte abaixo, diz que as informações são referentes as temporadas entre os anos de 1996 e 2016, porém ao começar a explorar algumas informações categorizadas ("draft_year", "sesion") foi verificado que a base foi atualizada e agora contempla dados de cada jogador até a temporada 2017-2018 da NBA.

.

(Fonte: https://www.kaggle.com/justinas/nba-players-data#all_seasons.csv)

In [72]:
# Imports das bibliotecas para utilização do Pandas
import numpy as np
import pandas as pd

# Conexão com repositório da base de dados no projeto
dataset=pd.read_csv("https://raw.githubusercontent.com/cristianosps/Introducao_Ciencia_de_Dados/master/all_seasons1.csv")

# Apresentação dos dados "brutos" do repositório
dataset.head()

   id        player_name team_abbreviation  ...  ts_pct  ast_pct   season
0   0       George Zidek               DEN  ...   0.500    0.064  1996-97
1   1  Darrell Armstrong               ORL  ...   0.525    0.308  1996-97
2   2     Darrick Martin               LAC  ...   0.539    0.292  1996-97
3   3     Darrin Hancock               ATL  ...   0.510    0.136  1996-97
4   4         Darvin Ham               IND  ...   0.536    0.072  1996-97

[5 rows x 22 columns]

In [73]:
# Apresentação dos tipos de dados iniciais para cada coluna da base de dados

dataset.dtypes

id                     int64
player_name           object
team_abbreviation     object
age                  float64
player_height        float64
player_weight        float64
college               object
country               object
draft_year            object
draft_round           object
draft_number          object
gp                     int64
pts                  float64
reb                  float64
ast                  float64
net_rating           float64
oreb_pct             float64
dreb_pct             float64
usg_pct              float64
ts_pct               float64
ast_pct              float64
season                object
dtype: object

In [0]:
# Criação categorias de dados para base com o objetivo auxiliar no entendimento e extração das informações existentes

dataset['team_abbreviation'] = dataset['team_abbreviation'].astype('category')
dataset['college'] = dataset['college'].astype('category')
dataset['country'] = dataset['country'].astype('category')
dataset['draft_year'] = dataset['draft_year'].astype('category')
dataset['season'] = dataset['season'].astype('category')

In [86]:
# Apresentação das categorias de dados criadas para base a ser estudada
# Colunas categorizadas: team_abbreviation | college | country | draft_year | season

dataset.dtypes

id                      int64
player_name            object
team_abbreviation    category
age                   float64
player_height         float64
player_weight         float64
college              category
country              category
draft_year           category
draft_round            object
draft_number           object
gp                      int64
pts                   float64
reb                   float64
ast                   float64
net_rating            float64
oreb_pct              float64
dreb_pct              float64
usg_pct               float64
ts_pct                float64
ast_pct               float64
season               category
dtype: object

In [77]:
# Apresetação do valores contidos na categoria "team_abbreviation"

dataset['team_abbreviation'].cat.categories

Index(['ATL', 'BKN', 'BOS', 'CHA', 'CHH', 'CHI', 'CLE', 'DAL', 'DEN', 'DET',
       'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN', 'NJN',
       'NOH', 'NOK', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC',
       'SAS', 'SEA', 'TOR', 'UTA', 'VAN', 'WAS'],
      dtype='object')

In [78]:
# Apresetação do valores contidos na categoria "college"

dataset['college'].cat.categories

Index(['Alabama', 'Alabama A&M', 'Alabama-Birmingham', 'Alabama-Huntsville',
       'Albany State (GA)', 'American', 'American International', 'Arizona',
       'Arizona State', 'Arkansas',
       ...
       'William Paterson', 'Wingate', 'Wisconsin', 'Wisconsin-Green Bay',
       'Wisconsin-Stevens Point', 'Wright State', 'Wyoming', 'Xavier', 'Yale',
       'Yonsei (KOR)'],
      dtype='object', length=298)

In [79]:
# Apresetação do valores contidos na categoria "country"

dataset['country'].cat.categories

Index(['Argentina', 'Australia', 'Austria', 'Bahamas', 'Belize', 'Bosnia',
       'Bosnia & Herzegovina', 'Bosnia and Herzegovina', 'Brazil',
       'Cabo Verde', 'Cameroon', 'Canada', 'China', 'Congo', 'Croatia',
       'Czech Republic', 'Democratic Republic of the Congo',
       'Dominican Republic', 'Egypt', 'England', 'Finland', 'France', 'Gabon',
       'Georgia', 'Germany', 'Ghana', 'Great Britain', 'Greece', 'Haiti',
       'Iran', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Latvia', 'Lithuania',
       'Macedonia', 'Mali', 'Mexico', 'Montenegro', 'Netherlands',
       'New Zealand', 'Nigeria', 'Panama', 'Poland', 'Puerto Rico', 'Russia',
       'Scotland', 'Senegal', 'Serbia', 'Serbia and Montenegro', 'Slovenia',
       'South Korea', 'South Sudan', 'Spain', 'St. Vincent & Grenadines',
       'Sudan (UK)', 'Sweden', 'Switzerland', 'Tanzania', 'Tunisia', 'Turkey',
       'U.S. Virgin Islands', 'US Virgin Islands', 'USA', 'USSR', 'Ukraine',
       'United Kingdom', 'Uruguay', 'Venezuela', 'Yugoslavia'],
      dtype='object')

In [87]:
# Apresetação do valores contidos na categoria "draft_year"

dataset['draft_year'].cat.categories

Index(['1963', '1976', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', 'Undrafted'],
      dtype='object')

In [88]:
# Apresetação do valores contidos na categoria "season"

dataset['season'].cat.categories

Index(['1996-97', '1997-98', '1998-99', '1999-00', '2000-01', '2001-02',
       '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08',
       '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14',
       '2014-15', '2015-16', '2016-17', '2017-18'],
      dtype='object')

In [82]:
# Apresetação dos dados do repositório após categorização
# Colunas categorizadas: team_abbreviation | college | country | draft_year | season

dataset.head()

   id        player_name team_abbreviation  ...  ts_pct  ast_pct   season
0   0       George Zidek               DEN  ...   0.500    0.064  1996-97
1   1  Darrell Armstrong               ORL  ...   0.525    0.308  1996-97
2   2     Darrick Martin               LAC  ...   0.539    0.292  1996-97
3   3     Darrin Hancock               ATL  ...   0.510    0.136  1996-97
4   4         Darvin Ham               IND  ...   0.536    0.072  1996-97

[5 rows x 22 columns]

In [83]:
# Verificação do tamanho da base de dados a ser estudada [Número de registros, Número de colunas/ Variáveis]

dataset.shape

(10101, 22)

In [93]:
# Verificação de valores nulos dentre as colunas da base de dados
# Base de dados bem concistente e com suas informações preenchidas para o período, sem a necessidade de remoção de colunas

print(dataset.isnull().sum())

id                   0
player_name          0
team_abbreviation    0
age                  0
player_height        0
player_weight        0
college              0
country              0
draft_year           0
draft_round          0
draft_number         0
gp                   0
pts                  0
reb                  0
ast                  0
net_rating           0
oreb_pct             0
dreb_pct             0
usg_pct              0
ts_pct               0
ast_pct              0
season               0
dtype: int64

In [94]:
# Caso houvesse coluna(s) a ser(em) removida(s) a linha de comando abaixo seria responsável por realizar o ajuste da base de dados
dataset1 = dataset.dropna(thresh=0.75*len(dataset), axis=1)
dataset1.head()

   id        player_name team_abbreviation  ...  ts_pct  ast_pct   season
0   0       George Zidek               DEN  ...   0.500    0.064  1996-97
1   1  Darrell Armstrong               ORL  ...   0.525    0.308  1996-97
2   2     Darrick Martin               LAC  ...   0.539    0.292  1996-97
3   3     Darrin Hancock               ATL  ...   0.510    0.136  1996-97
4   4         Darvin Ham               IND  ...   0.536    0.072  1996-97

[5 rows x 22 columns]

In [95]:
# Verificação da quantidade de registros da base de dados a ser estudada
len(dataset1)

10101

PS: Como verificado durante a preparação, **a base de dados é concistente e com suas informações totalmente preenchidas para o período a ser estudado**. Também **não haverá a necessidade de inserção/ inclusão de dados ausentes**.

In [96]:
dataset.corr(method='spearman')

                     id       age  player_height  ...   usg_pct    ts_pct   ast_pct
id             1.000000 -0.094677      -0.011558  ... -0.015033  0.159689 -0.010413
age           -0.094677  1.000000      -0.016313  ... -0.155135  0.039236  0.072794
player_height -0.011558 -0.016313       1.000000  ... -0.142593  0.098311 -0.638229
player_weight -0.022777  0.045659       0.842136  ... -0.117517  0.091023 -0.590258
gp            -0.002510  0.029916      -0.022602  ...  0.147682  0.388948  0.184062
pts            0.037379  0.026382      -0.093532  ...  0.585247  0.486480  0.362240
reb            0.008826  0.042593       0.417458  ...  0.194104  0.391921 -0.076392
ast            0.018981  0.115255      -0.485763  ...  0.380961  0.225208  0.832111
net_rating     0.000834  0.147571      -0.004192  ...  0.033621  0.373836  0.096836
oreb_pct      -0.131602 -0.085694       0.691472  ... -0.131517  0.085379 -0.532430
dreb_pct       0.067515 -0.005504       0.710832  ... -0.063708  0.135118 -0.442878
usg_pct       -0.015033 -0.155135      -0.142593  ...  1.000000  0.102265  0.355072
ts_pct         0.159689  0.039236       0.098311  ...  0.102265  1.000000  0.003239
ast_pct       -0.010413  0.072794      -0.638229  ...  0.355072  0.003239  1.000000

[14 rows x 14 columns]

In [97]:
dataset1.corr(method='spearman')

                     id       age  player_height  ...   usg_pct    ts_pct   ast_pct
id             1.000000 -0.094677      -0.011558  ... -0.015033  0.159689 -0.010413
age           -0.094677  1.000000      -0.016313  ... -0.155135  0.039236  0.072794
player_height -0.011558 -0.016313       1.000000  ... -0.142593  0.098311 -0.638229
player_weight -0.022777  0.045659       0.842136  ... -0.117517  0.091023 -0.590258
gp            -0.002510  0.029916      -0.022602  ...  0.147682  0.388948  0.184062
pts            0.037379  0.026382      -0.093532  ...  0.585247  0.486480  0.362240
reb            0.008826  0.042593       0.417458  ...  0.194104  0.391921 -0.076392
ast            0.018981  0.115255      -0.485763  ...  0.380961  0.225208  0.832111
net_rating     0.000834  0.147571      -0.004192  ...  0.033621  0.373836  0.096836
oreb_pct      -0.131602 -0.085694       0.691472  ... -0.131517  0.085379 -0.532430
dreb_pct       0.067515 -0.005504       0.710832  ... -0.063708  0.135118 -0.442878
usg_pct       -0.015033 -0.155135      -0.142593  ...  1.000000  0.102265  0.355072
ts_pct         0.159689  0.039236       0.098311  ...  0.102265  1.000000  0.003239
ast_pct       -0.010413  0.072794      -0.638229  ...  0.355072  0.003239  1.000000

[14 rows x 14 columns]