<a href="https://colab.research.google.com/github/cristianosps/Introducao_Ciencia_de_Dados/blob/master/Interpretacao_Estatistica_NBA_1996_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# Imports biblioteca Pandas
import numpy as np
import pandas as pd

# Conexão com repositório da base de dados
dataset=pd.read_csv("https://raw.githubusercontent.com/cristianosps/Introducao_Ciencia_de_Dados/master/all_seasons1.csv")

# Apresentação dos dados do repositório
dataset.head()

   id        player_name team_abbreviation  ...  ts_pct  ast_pct   season
0   0       George Zidek               DEN  ...   0.500    0.064  1996-97
1   1  Darrell Armstrong               ORL  ...   0.525    0.308  1996-97
2   2     Darrick Martin               LAC  ...   0.539    0.292  1996-97
3   3     Darrin Hancock               ATL  ...   0.510    0.136  1996-97
4   4         Darvin Ham               IND  ...   0.536    0.072  1996-97

[5 rows x 22 columns]

In [13]:
dataset.dtypes

id                     int64
player_name           object
team_abbreviation     object
age                  float64
player_height        float64
player_weight        float64
college               object
country               object
draft_year            object
draft_round           object
draft_number          object
gp                     int64
pts                  float64
reb                  float64
ast                  float64
net_rating           float64
oreb_pct             float64
dreb_pct             float64
usg_pct              float64
ts_pct               float64
ast_pct              float64
season                object
dtype: object

In [0]:
# Criando categorias de dados
dataset['team_abbreviation'] = dataset['team_abbreviation'].astype('category')
dataset['college'] = dataset['college'].astype('category')
dataset['country'] = dataset['country'].astype('category')
dataset['draft_year'] = dataset['draft_year'].astype('category')
dataset['season'] = dataset['season'].astype('category')

In [15]:
dataset.dtypes

id                      int64
player_name            object
team_abbreviation    category
age                   float64
player_height         float64
player_weight         float64
college              category
country              category
draft_year           category
draft_round            object
draft_number           object
gp                      int64
pts                   float64
reb                   float64
ast                   float64
net_rating            float64
oreb_pct              float64
dreb_pct              float64
usg_pct               float64
ts_pct                float64
ast_pct               float64
season               category
dtype: object

In [18]:
dataset['team_abbreviation'].cat.categories

Index(['ATL', 'BKN', 'BOS', 'CHA', 'CHH', 'CHI', 'CLE', 'DAL', 'DEN', 'DET',
       'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN', 'NJN',
       'NOH', 'NOK', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC',
       'SAS', 'SEA', 'TOR', 'UTA', 'VAN', 'WAS'],
      dtype='object')

In [20]:
dataset['college'].cat.categories

Index(['Alabama', 'Alabama A&M', 'Alabama-Birmingham', 'Alabama-Huntsville',
       'Albany State (GA)', 'American', 'American International', 'Arizona',
       'Arizona State', 'Arkansas',
       ...
       'William Paterson', 'Wingate', 'Wisconsin', 'Wisconsin-Green Bay',
       'Wisconsin-Stevens Point', 'Wright State', 'Wyoming', 'Xavier', 'Yale',
       'Yonsei (KOR)'],
      dtype='object', length=298)

In [21]:
dataset['country'].cat.categories

Index(['Argentina', 'Australia', 'Austria', 'Bahamas', 'Belize', 'Bosnia',
       'Bosnia & Herzegovina', 'Bosnia and Herzegovina', 'Brazil',
       'Cabo Verde', 'Cameroon', 'Canada', 'China', 'Congo', 'Croatia',
       'Czech Republic', 'Democratic Republic of the Congo',
       'Dominican Republic', 'Egypt', 'England', 'Finland', 'France', 'Gabon',
       'Georgia', 'Germany', 'Ghana', 'Great Britain', 'Greece', 'Haiti',
       'Iran', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Latvia', 'Lithuania',
       'Macedonia', 'Mali', 'Mexico', 'Montenegro', 'Netherlands',
       'New Zealand', 'Nigeria', 'Panama', 'Poland', 'Puerto Rico', 'Russia',
       'Scotland', 'Senegal', 'Serbia', 'Serbia and Montenegro', 'Slovenia',
       'South Korea', 'South Sudan', 'Spain', 'St. Vincent & Grenadines',
       'Sudan (UK)', 'Sweden', 'Switzerland', 'Tanzania', 'Tunisia', 'Turkey',
       'U.S. Virgin Islands', 'US Virgin Islands', 'USA', 'USSR', 'Ukraine',
       'United Kingdom', 'Uruguay', 'Venezuela', 'Yugoslavia'],
      dtype='object')

In [22]:
dataset['draft_year'].cat.categories

Index(['1963', '1976', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', 'Undrafted'],
      dtype='object')

In [24]:
dataset['season'].cat.categories

Index(['1996-97', '1997-98', '1998-99', '1999-00', '2000-01', '2001-02',
       '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08',
       '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14',
       '2014-15', '2015-16', '2016-17', '2017-18'],
      dtype='object')

In [28]:
dataset.head()

   id        player_name team_abbreviation  ...  ts_pct  ast_pct   season
0   0       George Zidek               DEN  ...   0.500    0.064  1996-97
1   1  Darrell Armstrong               ORL  ...   0.525    0.308  1996-97
2   2     Darrick Martin               LAC  ...   0.539    0.292  1996-97
3   3     Darrin Hancock               ATL  ...   0.510    0.136  1996-97
4   4         Darvin Ham               IND  ...   0.536    0.072  1996-97

[5 rows x 22 columns]

In [29]:
dataset.shape

(10101, 22)

In [31]:
print(dataset.isnull().sum())

id                   0
player_name          0
team_abbreviation    0
age                  0
player_height        0
player_weight        0
college              0
country              0
draft_year           0
draft_round          0
draft_number         0
gp                   0
pts                  0
reb                  0
ast                  0
net_rating           0
oreb_pct             0
dreb_pct             0
usg_pct              0
ts_pct               0
ast_pct              0
season               0
dtype: int64

In [32]:
dataset1 = dataset.dropna()
dataset1.head()

   id        player_name team_abbreviation  ...  ts_pct  ast_pct   season
0   0       George Zidek               DEN  ...   0.500    0.064  1996-97
1   1  Darrell Armstrong               ORL  ...   0.525    0.308  1996-97
2   2     Darrick Martin               LAC  ...   0.539    0.292  1996-97
3   3     Darrin Hancock               ATL  ...   0.510    0.136  1996-97
4   4         Darvin Ham               IND  ...   0.536    0.072  1996-97

[5 rows x 22 columns]

In [33]:
len(dataset1)

10101