<a href="https://colab.research.google.com/github/cristianosps/Introducao_Ciencia_de_Dados/blob/master/Interpretacao_Estatistica_NBA_1996_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---

#**CESAR School/ CIn/UFPE - Especialização em Análise e Engenharia de Dados**

##**Projeto de Avaliação para Disciplina "Introdução à Análise de Dados"**

###Professor: Luciano Barbosa
###Monitor: Johny Moreira


---

##**Olá...**

Neste projeto iremos realizar a leitura de uma determinada base de dados e faremos a interpretação das informações através das técnicas de extração de dados apresentadas durante a disciplina de "Introdução à Análise de Dados".

.

Nesta base de dados estão contidas informações relecionadas a estatística e aproveitamento de cada jogador da NBA, para cada temporada que disputou entre os anos de 1996 e 2018. 

Por este conjunto de dados podemos obter de cada jogador que passou pela NBA, entre os anos de 1996 e 2018, informações pessoais (Idade, País de origem, Faculdade...), porte físico (Altura, peso...), Times/ Franquias que defendeu enquanto esteve na NBA e seu aproveitamento para cada temporada que disputou da liga.

.

ATENÇÃO: Na descrição da base de dados em sua origem, conforme fonte abaixo, diz que as informações são referentes as temporadas entre os anos de 1996 e 2016, porém ao começar a explorar algumas informações categorizadas ("draft_year", "sesion") foi verificado que a base foi atualizada e agora contempla dados de cada jogador até a temporada 2017-2018 da NBA.

.

(Fonte: https://www.kaggle.com/justinas/nba-players-data#all_seasons.csv)


---

.

##**Preparação da Base de Dados a ser estudada neste projeto**

In [1]:
# Imports das bibliotecas para utilização do Pandas
import numpy as np
import pandas as pd

# Conexão com repositório da base de dados no projeto
dataset=pd.read_csv("https://raw.githubusercontent.com/cristianosps/Introducao_Ciencia_de_Dados/master/all_seasons1.csv")

# Apresentação dos dados "brutos" do repositório
dataset.head()

   id        player_name team_abbreviation  ...  ts_pct  ast_pct   season
0   0       George Zidek               DEN  ...   0.500    0.064  1996-97
1   1  Darrell Armstrong               ORL  ...   0.525    0.308  1996-97
2   2     Darrick Martin               LAC  ...   0.539    0.292  1996-97
3   3     Darrin Hancock               ATL  ...   0.510    0.136  1996-97
4   4         Darvin Ham               IND  ...   0.536    0.072  1996-97

[5 rows x 22 columns]

In [2]:
# Apresentação das informações iniciais da base de dados

#  - Total de Entradas (10101)
#    . Índices inicial e final das entradas (0 - 10100)
#  - Toral de Colunas (22)
#  - Lista de Coulnas (Descrição na apresentação da base de dados)
#    . Nome da Coluna
#    . Valore nulo (S/N)
#    . Tipo de Dado

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10101 entries, 0 to 10100
Data columns (total 22 columns):
id                   10101 non-null int64
player_name          10101 non-null object
team_abbreviation    10101 non-null object
age                  10101 non-null float64
player_height        10101 non-null float64
player_weight        10101 non-null float64
college              10101 non-null object
country              10101 non-null object
draft_year           10101 non-null object
draft_round          10101 non-null object
draft_number         10101 non-null object
gp                   10101 non-null int64
pts                  10101 non-null float64
reb                  10101 non-null float64
ast                  10101 non-null float64
net_rating           10101 non-null float64
oreb_pct             10101 non-null float64
dreb_pct             10101 non-null float64
usg_pct              10101 non-null float64
ts_pct               10101 non-null float64
ast_pct              10101 non-null float64
season               10101 non-null object
dtypes: float64(12), int64(2), object(8)
memory usage: 1.7+ MB

In [3]:
# Apresentação dos tipos de dados iniciais para cada coluna da base de dados

dataset.dtypes

id                     int64
player_name           object
team_abbreviation     object
age                  float64
player_height        float64
player_weight        float64
college               object
country               object
draft_year            object
draft_round           object
draft_number          object
gp                     int64
pts                  float64
reb                  float64
ast                  float64
net_rating           float64
oreb_pct             float64
dreb_pct             float64
usg_pct              float64
ts_pct               float64
ast_pct              float64
season                object
dtype: object

In [0]:
# Criação categorias de dados para base com o objetivo auxiliar no entendimento e extração das informações existentes
# Colunas categorizadas: team_abbreviation | college | country | draft_year | season

dataset['team_abbreviation'] = dataset['team_abbreviation'].astype('category')
dataset['college'] = dataset['college'].astype('category')
dataset['country'] = dataset['country'].astype('category')
dataset['draft_year'] = dataset['draft_year'].astype('category')
dataset['season'] = dataset['season'].astype('category')

In [5]:
# Apresentação das categorias de dados criadas para base a ser estudada
# Colunas categorizadas: team_abbreviation | college | country | draft_year | season

dataset.dtypes

id                      int64
player_name            object
team_abbreviation    category
age                   float64
player_height         float64
player_weight         float64
college              category
country              category
draft_year           category
draft_round            object
draft_number           object
gp                      int64
pts                   float64
reb                   float64
ast                   float64
net_rating            float64
oreb_pct              float64
dreb_pct              float64
usg_pct               float64
ts_pct                float64
ast_pct               float64
season               category
dtype: object

In [6]:
# Apresetação do valores contidos na categoria "team_abbreviation"

dataset['team_abbreviation'].cat.categories

Index(['ATL', 'BKN', 'BOS', 'CHA', 'CHH', 'CHI', 'CLE', 'DAL', 'DEN', 'DET',
       'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN', 'NJN',
       'NOH', 'NOK', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC',
       'SAS', 'SEA', 'TOR', 'UTA', 'VAN', 'WAS'],
      dtype='object')

In [7]:
# Apresetação do valores contidos na categoria "college"

dataset['college'].cat.categories

Index(['Alabama', 'Alabama A&M', 'Alabama-Birmingham', 'Alabama-Huntsville',
       'Albany State (GA)', 'American', 'American International', 'Arizona',
       'Arizona State', 'Arkansas',
       ...
       'William Paterson', 'Wingate', 'Wisconsin', 'Wisconsin-Green Bay',
       'Wisconsin-Stevens Point', 'Wright State', 'Wyoming', 'Xavier', 'Yale',
       'Yonsei (KOR)'],
      dtype='object', length=298)

In [8]:
# Apresetação do valores contidos na categoria "country"

dataset['country'].cat.categories

Index(['Argentina', 'Australia', 'Austria', 'Bahamas', 'Belize', 'Bosnia',
       'Bosnia & Herzegovina', 'Bosnia and Herzegovina', 'Brazil',
       'Cabo Verde', 'Cameroon', 'Canada', 'China', 'Congo', 'Croatia',
       'Czech Republic', 'Democratic Republic of the Congo',
       'Dominican Republic', 'Egypt', 'England', 'Finland', 'France', 'Gabon',
       'Georgia', 'Germany', 'Ghana', 'Great Britain', 'Greece', 'Haiti',
       'Iran', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Latvia', 'Lithuania',
       'Macedonia', 'Mali', 'Mexico', 'Montenegro', 'Netherlands',
       'New Zealand', 'Nigeria', 'Panama', 'Poland', 'Puerto Rico', 'Russia',
       'Scotland', 'Senegal', 'Serbia', 'Serbia and Montenegro', 'Slovenia',
       'South Korea', 'South Sudan', 'Spain', 'St. Vincent & Grenadines',
       'Sudan (UK)', 'Sweden', 'Switzerland', 'Tanzania', 'Tunisia', 'Turkey',
       'U.S. Virgin Islands', 'US Virgin Islands', 'USA', 'USSR', 'Ukraine',
       'United Kingdom', 'Uruguay', 'Venezuela', 'Yugoslavia'],
      dtype='object')

In [9]:
# Apresetação do valores contidos na categoria "draft_year"

dataset['draft_year'].cat.categories

Index(['1963', '1976', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', 'Undrafted'],
      dtype='object')

In [10]:
# Apresetação do valores contidos na categoria "season"

dataset['season'].cat.categories

Index(['1996-97', '1997-98', '1998-99', '1999-00', '2000-01', '2001-02',
       '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08',
       '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14',
       '2014-15', '2015-16', '2016-17', '2017-18'],
      dtype='object')

In [11]:
# Apresetação dos dados do repositório após categorização da Base de Dados
# Colunas categorizadas: team_abbreviation | college | country | draft_year | season

dataset.head()

   id        player_name team_abbreviation  ...  ts_pct  ast_pct   season
0   0       George Zidek               DEN  ...   0.500    0.064  1996-97
1   1  Darrell Armstrong               ORL  ...   0.525    0.308  1996-97
2   2     Darrick Martin               LAC  ...   0.539    0.292  1996-97
3   3     Darrin Hancock               ATL  ...   0.510    0.136  1996-97
4   4         Darvin Ham               IND  ...   0.536    0.072  1996-97

[5 rows x 22 columns]

In [23]:
# Verificação do tamanho da base de dados a ser estudada [Número de entradas, Número de colunas/ Variáveis]

dataset.shape

(10101, 22)

In [13]:
# Verificação de valores nulos dentre as colunas da base de dados
# Base de dados bem concistente e com suas informações preenchidas para o período, sem a necessidade de remoção de colunas

print(dataset.isnull().sum())

id                   0
player_name          0
team_abbreviation    0
age                  0
player_height        0
player_weight        0
college              0
country              0
draft_year           0
draft_round          0
draft_number         0
gp                   0
pts                  0
reb                  0
ast                  0
net_rating           0
oreb_pct             0
dreb_pct             0
usg_pct              0
ts_pct               0
ast_pct              0
season               0
dtype: int64

In [14]:
# Caso houvesse coluna(s) a ser(em) removida(s) a linha de comando abaixo seria responsável por realizar o ajuste da base de dados

dataset1 = dataset.dropna(thresh=0.75*len(dataset), axis=1)
dataset1.head()

   id        player_name team_abbreviation  ...  ts_pct  ast_pct   season
0   0       George Zidek               DEN  ...   0.500    0.064  1996-97
1   1  Darrell Armstrong               ORL  ...   0.525    0.308  1996-97
2   2     Darrick Martin               LAC  ...   0.539    0.292  1996-97
3   3     Darrin Hancock               ATL  ...   0.510    0.136  1996-97
4   4         Darvin Ham               IND  ...   0.536    0.072  1996-97

[5 rows x 22 columns]

In [15]:
# Verificação da quantidade de entradas da base de dados a ser estudada
len(dataset1)

10101

In [41]:
# Visualizando de possíveis dados duplicados para Base de Dados
# A base de dados utilizada não precisará ser alterada/ manipulada por conter dados duplicados, preservando assim a quantidade de registros

dataset1[dataset1.duplicated(keep=False)]

Empty DataFrame
Columns: [id, player_name, team_abbreviation, age, player_height, player_weight, college, country, draft_year, draft_round, draft_number, gp, pts, reb, ast, net_rating, oreb_pct, dreb_pct, usg_pct, ts_pct, ast_pct, season]
Index: []

In [0]:
# Caso houvesse necessidade excluir dados duplicados poderíamos fazer a alteração/ manipulação para ajustar a Base de Dados

dataset1.drop_duplicates(inplace=True)

In [44]:
# Definição do Dataset a ser utilizado para extração e análise das informações da Base de Dados

dataset1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10101 entries, 0 to 10100
Data columns (total 22 columns):
id                   10101 non-null int64
player_name          10101 non-null object
team_abbreviation    10101 non-null category
age                  10101 non-null float64
player_height        10101 non-null float64
player_weight        10101 non-null float64
college              10101 non-null category
country              10101 non-null category
draft_year           10101 non-null category
draft_round          10101 non-null object
draft_number         10101 non-null object
gp                   10101 non-null int64
pts                  10101 non-null float64
reb                  10101 non-null float64
ast                  10101 non-null float64
net_rating           10101 non-null float64
oreb_pct             10101 non-null float64
dreb_pct             10101 non-null float64
usg_pct              10101 non-null float64
ts_pct               10101 non-null float64
ast_pct              10101 non-null float64
season               10101 non-null category
dtypes: category(5), float64(12), int64(2), object(3)
memory usage: 1.5+ MB

**PS:** Como verificado durante a preparação, **a base de dados é concistente e com suas informações totalmente preenchidas para o período a ser estudado. Não haverá a necessidade de inserção/ inclusão de dados ausentes**.

In [35]:
# Informações estatísticas e da distribuição de Dados da Base estudada desse projeto. 
# A partir dos dados carregados através DataFrame teremos o Número de entradas, Média, Desvio Padrão, Valores mínimo/ máximo e Quartis

dataset1.describe()

                 id           age  ...        ts_pct       ast_pct
count  10101.000000  10101.000000  ...  10101.000000  10101.000000
mean    5050.000000     27.292644  ...      0.506090      0.130714
std     2916.051869      4.345829  ...      0.095968      0.095198
min        0.000000     18.000000  ...      0.000000      0.000000
25%     2525.000000     24.000000  ...      0.477000      0.064000
50%     5050.000000     27.000000  ...      0.519000      0.102000
75%     7575.000000     30.000000  ...      0.553000      0.178000
max    10100.000000     44.000000  ...      1.500000      1.000000

[8 rows x 14 columns]



---



.

##**Extração e Análise das informações da Base de Dados**

In [17]:
# dataset2 = dataset1[(dataset1['age'] > 30) & (dataset1['country'] != 'USA')]
# dataset2 = dataset1[(dataset1['country'] != 'USA') & (dataset1['pts'] == dataset1['pts'].max())]
# dataset2 = dataset2.groupby('season')

#dataset2 = dataset1[(dataset1['country'] != 'USA')].groupby('player_name')
#dataset2 = dataset1[(dataset1['team_abbreviation'] == 'CHI') & (dataset1['season'] == '1997-98') & (dataset1['player_name'] == 'Michael Jordan')]
#dataset2 = dataset1[(dataset1['pts'] == dataset1['pts'].max())]
#dataset2 = dataset1[(dataset1['player_name'] == 'Michael Jordan')].sort_values(by='season', ascending=False)
dataset2 = dataset1[(dataset1['player_name'] == 'Michael Jordan')].mean()
dataset2.head()

id               1.585750e+03
age              3.700000e+01
player_height    1.981200e+02
player_weight    9.797587e+01
draft_year       4.960496e+14
dtype: float64

In [18]:
len(dataset2)

17

In [19]:
dataset3 = dataset1[(dataset1['pts'] == dataset1['pts'].max())].groupby('player_name')
dataset3 = dataset3['player_name', 'pts', 'season']
dataset3.head()

      player_name   pts   season
4343  Kobe Bryant  35.4  2005-06

In [20]:
len(dataset3)

1

In [54]:
# 
# Mediana dos casos de incêndio por estado
# dataset.groupby('state')['number'].median()
 dataset1.groupby('team_abbreviation')['pts', 'reb', 'ast'].sum()
# dataset1.groupby('season')['pts', 'reb', 'ast'].sum()

                      pts     reb    ast
team_abbreviation
ATL                2643.3  1185.0  582.0
BKN                 818.6   340.9  175.8
BOS                2711.2  1170.0  613.9
CHA                1738.9   780.8  381.4
CHH                 701.6   312.6  166.0
CHI                2670.0  1209.6  638.9
CLE                2785.6  1248.9  619.4
DAL                2830.0  1233.2  612.3
DEN                2839.9  1255.6  634.6
DET                2577.8  1130.2  570.6
GSW                2929.7  1294.6  665.9
HOU                2848.9  1269.5  604.0
IND                2746.4  1221.0  600.7
LAC                2872.2  1235.6  629.6
LAL                2843.7  1261.6  642.1
MEM                2161.5   926.8  481.8
MIA                2866.7  1260.1  611.7
MIL                2771.0  1202.3  634.1
MIN                2733.4  1199.3  640.7
NJN                2003.7   910.0  441.9
NOH                1123.0   502.1  251.6
NOK                 265.3   119.0   47.8
NOP                 779.8   324.4  179.2
NYK                2779.1  1238.5  575.9
OKC                1302.9   569.5  259.5
ORL                2669.3  1161.2  581.7
PHI                2688.1  1223.5  586.9
PHX                2771.7  1177.1  626.1
POR                2615.4  1168.9  578.6
SAC                2741.9  1186.5  585.4
SAS                2696.1  1179.7  607.0
SEA                1417.7   608.2  313.0
TOR                2728.0  1218.8  590.4
UTA                2577.6  1124.8  608.2
VAN                 542.9   247.9  135.5
WAS                2777.8  1212.9  607.4

In [0]:
# dataset1.corr(method='spearman')